*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --volcano: #e80005;
  --yellow: #ffd23f;
  --teal: #00c2b3;
  --purple: #8b5cf6;
  --navy: #282a30;
  --white: #ffffff;
  --offwhite: #fbfbfb;
  --gray: #888b8d;
}
html {
  scroll-behavior: smooth;
}
html {
  --app-font: "Google Sans", sans-serif;
}

html:lang(kh) {
  --app-font: "Noto Sans Khmer", sans-serif;
}

body {
  font-family: var(--app-font);
  background: var(--offwhite);
  color: var(--navy);
  overflow-x: hidden;
}
